<div class="list-groups">
  {% for skill_category in data[1] %}
    <div class="list-group col-md-6" title="{{ skill_category.level }}">
      <table class="table-cv list-group-table">
        <tbody>
          <tr>
            <td class="list-group-category" style="vertical-align: middle;">{{ skill_category.category }}</td>
          </tr>
          <tr>
            <td colspan="2">
              {% for skill in skill_category.skills %}
                <div class="list-group-name">{{ skill }}</div>
              {% endfor %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>